<!doctype html>
<html class="container" lang="en">
  <h1>Test Form</h1>
  <br>
  <body>
    <form [formGroup]="myForm" >
      <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <br>

      <button (click)="onSubmit(myForm)" class="btn btn-primary" [hidden]= update >Submit</button>
      <button (click)="onUpdate()" class="btn btn-warning" [hidden]= !update>Update</button>

    </form>

    <h1>Data</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">username</th>
          <th scope="col">Passwprd</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor = "let data of model ; let i = index">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.password}}</td>
          <td><button (click)="edit(data.key,data.name,data.password)" class="btn btn-secondary">edit</button></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
