<!doctype html>
<html class="container" lang="en">
  <h1>Test Form</h1>
  <br>
  <body>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <br>
      <br>
      <button (click)="edit()" class="btn btn-secondary">edit</button>
    </form>
  </body>
</html>
